<section class="container">
    <h2 class="h2">Parameters</h2>
    <div class="parameters-row">
        <div class="parameter">
            <div class="value">73cm x 133,5cm</div>
            <div class="description">dimensions</div>
        </div>
        <div class="parameter">
            <div class="value">67kg</div>
            <div class="description">mass</div>
        </div>
        <div class="parameter">
            <div class="value" style="text-align: center;">1x stereo camera,<br>
                4x Jetson TX2 mipi cameras</div>
            <div class="description">cameras</div>
        </div>
        <div class="parameter">
            <div class="value">GPS</div>
            <div class="description">navigation</div>
        </div>
        <div class="parameter">
            <div class="value">2x 1.6kW BLDC</div>
            <div class="description">motors</div>
        </div>
    </div>
    <img src="../../assets/render-front.jpeg" />
</section>

