<section class="container">
  <h2 class="h2">Current AGH SOLAR BOAT TEAM projects</h2>
  <div class="content">
    <div class="card">
      <div class="image">
        <img src="./assets/baska.png" />
      </div>
      <div class="name">
        <span>Baśka</span>
      </div>
      <div class="description">
        <p>Baśka is the first solar boat to come out of our workshop. She’s light, agile, eco-friendly and very accomplished. Some of her greatest achievements come from the prestigious Monaco Solar & Energy Boat Challenge.</p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="./assets/celka.png" />
      </div>
      <div class="name">
        <span>Celka</span>
      </div>
      <div class="description">
        <p>Our Baśka’s younger sibling. Thanks to the use of advanced composite materials, an optimized drivetrain and hydrofoils, she is even lighter and faster. During this season, she will compete for the highest prizes in Monaco and Portugal.</p>
      </div>
    </div>
  </div>
</section>
