<section class="container">
    <h2 class="h2">Control algorythm overview</h2>
    <section class="content">
        <section class="shema">
            <img src="../../assets/robur_control_algorythm_overview_schematic_roboboat_webpage.drawio.png" />
        </section>
        <section class="description">
            <h3>Processing units</h3>
            <section>
                <h4 class="top">UP Squared (Main CPU)</h4>
                <ul>
                    <li>specs:</li>
                    <li>role in the system:</li>
                    <ul>
                        <li>ROS main machine</li>
                        <li>control algorythm</li>
                        <li>comunication with the electronic control system</li>
                        <li>base station communication</li>
                    </ul>
                </ul>
            </section>
            <section>
                <h4 class="bottom">Jetson TX2</h4>
                <ul>
                    <li>specs:</li>
                    <li>role in the system:</li>
                    <ul>
                        <li>ROS secondary machine</li>
                        <li>image processing</li>
                        <li>nn algorythm calculations</li>
                    </ul>
                </ul>
            </section>
        </section>
    </section>
</section>