<section class="container">
    <img class="logo" src="./assets/solarboat.svg" />
    <div class="description">
      <div class="content">
        <p>We’re a group of like-minded individuals from AGH University of Science and Technology, bound together by a common goal – the construction of an electric racing boat, powered completely by renewable solar energy.</p>
        <p>The AGH Solar Boat Team vessel competes in numerous international regatta for solar-powered boats, amongst which is the Monaco Solar & Energy Challenge.</p>
      </div>
      <div class="social-media">
        <a href=""><i class="fa-brands fa-facebook-square"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <div class="link">
        <a href="">Discover more</a>
      </div>
    </div>
</section>

