<section class="container">
    <h2 class="h2">Coordinator</h2>
    <div class="content-row">
        <img src="../../assets/coordinator.png" />
        <div class="description">
            <div class="name">Robert Koziarski
                <div class="position">Project Coordinator</div>
            </div>
            <div class="text">Konieczne jest zatem ogranicze­nie masy łodzi do min­i­mum, dlat­ego do budowy kadłuba postanow­iliśmy wyko­rzys­tać lam­i­nat epoksydowo-węglowy. </div>
            <div class="contact">
                <span><span class="label">Email:</span>  robert.koziarski@solarboat.agh.edu.pl</span>
                <span><span class="label">Phone:</span> +48 517 625 425</span>
            </div>
            <div class="social-media">
                <a href=""><i class="fa-brands fa-facebook-square"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>

</section>

